name: Build ROM

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make tools executable
        run: chmod +x tools/rgbasm tools/rgblink tools/rgbfix tools/rgbgfx || true

      - name: Build
        run: |
          make clean
          make

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: rom
          path: |
            bin/*.gb
            bin/*.sym
            bin/*.map
            bin/*.2bpp

